# Base de Datos SQL Server
DATABASE_URL="sqlserver://localhost:1433;database=OmbuDB;user=sa;password=TuPassword123!;encrypt=true;trustServerCertificate=true"
DB_USER=sa
DB_PASSWORD=TuPassword123!
DB_SERVER=localhost
DB_DATABASE=OmbuDB
DB_PORT=1433

# Redis (Caché y Sesiones Efímeras con TTL)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# RabbitMQ (Broker de Mensajería Asíncrona)
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_EXCHANGE=ombu.eventos
RABBITMQ_QUEUE_STOCK=stock.despachos.queue

# Puerto del Servidor Backend
PORT=3000
