# Dependencias de Node
node_modules/
npm-debug.log

# Variables de entorno y secretos (¡Crítico!)
.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db

node_modules/
.env

# Carpetas de estudio / universidad
FACULTAD/
facultad/
